@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700");
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Merriweather", serif; }

.dashboard {
  height: 30vh;
  margin-bottom: -30px;
  overflow: hidden; }
  .dashboard .sky {
    background: skyblue;
    height: 70%;
    position: relative; }
    .dashboard .sky .sun {
      position: absolute;
      border-radius: 100%;
      height: 10vw;
      width: 10vw;
      background: yellow;
      box-shadow: 0 0 30px orange, 0 0 30px orangered;
      margin: -10vh auto; }
  .dashboard .land {
    background: #6e5656;
    height: 30%; }

.container {
  padding: 10px; }
  @media (480px) {
    .container {
      width: 400px; } }
  @media (480px) {
    .container {
      width: 600px; } }

.row {
  grid-auto-flow: row; }

.col-6 {
  grid-column-end: span 6; }

.navbar {
  background: #587291;
  color: #1CCAD8;
  padding: 15px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif; }

.card-grid {
  display: grid;
  row-gap: 10px; }
  @media (768px) {
    .card-grid {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px; } }

.card {
  background: #f2f2f2;
  border-radius: 6px; }
