@import '../base/variables';

.card-grid {
    display: grid;
    row-gap: 10px;
    @media ( map-get($grid-breakpoints, md )){
        grid-template-columns: repeat(3, 1fr);  
        column-gap: 10px;      
    }
}
.card {
    //background: $background-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    .header, .body, .footer {
        padding: 15px 10px;
    }
    .header {
        background-color: darken($background-color, 3%);
    }
    .header h2 {
        margin: 0;
        color: $accent-color;
    }
    // .body {
    //     background: $background-color;
    // }
    // .footer {
    //     background-color: lighten($background-color, 3%);
    // }
    .profile {
        & > img {
            width: 150px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
            filter: grayscale(100%);
        }
    }
    h2, h3, h4, h5, h6 {
        margin: 0;
    }
    p {
        margin-top: 0;
        margin-bottom: 10px;
    }
    h3 {
        color: $primary-color;
    }
}