@import '../base/variables';

.card-grid {
    display: grid;
    row-gap: 10px;
    @media ( map-get($grid-breakpoints, md )){
        grid-template-columns: repeat(3, 1fr);  
        column-gap: 10px;      
    }
}
.card {
    background: #f2f2f2;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    .header, .body, .footer {
        padding: 0 10px;
    }
    .body {
        background: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .profile {
        & > img {
            width: 150px;
            margin: 0 auto;
            display: block;
            border-radius: 50%;
            filter: grayscale(100%);
        }
    }
}