@import '../base/variables';

.container {
    // display: grid;
    // grid-template: none, auto / repeat($grid-columns, 1fr);
    padding: 10px;
    @media ( map-get($grid-breakpoints, sm )){
        width: 400px;
    }
    @media ( map-get($grid-breakpoints, sm )){
        width: 600px;
    }
}

.row {
    grid-auto-flow: row;
}

.col-6 {
    grid-column-end: span $grid-columns / 2;
}