// Variables
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Nunito:300,400,700');

// Colors
$primary-color: #587291;
$secondary-color: #2F97C1;
$tertiary-color: #1CCAD8;

// Fonts
$heading-font: 'Nunito', sans-serif;
$text-font: 'Merriweather', serif;